@{
    ViewData["Title"] = "Exercicio 1";
}

<class class="container d-flex justify-content-center align-items-center flex-column">
    <h1>Sing-in</h1>

    <div class="row w-50">

        <div class="col-12 mt-3">
            <div class="form-floating">
                <input type="text" placeholder="User" id="floating" class="form-control">
                <label for="floating">User</label>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="form-floating">
                <input type="email" placeholder="Email" id="floating" class="form-control">
                <label for="floating">Email</label>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="form-floating">
                <input type="password" placeholder="PassWord" id="floating" class="form-control">
                <label for="floating">PassWord</label>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="form-floating">
                <input type="password" placeholder="ConfirmPassWord" id="floating" class="form-control">
                <label for="floating">ConfirmPassWord</label>
            </div>
        </div>

    </div>
</class>